


.fixed-container{
    height: 300px;
    padding-bottom: 3px;
}

.sidebar{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%;
}

.flexcontainer{
   display: flex; 
   flex-direction: row;
}

.border{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.full{
    width: 100%;
    height: 100%;
}

.day-checkbox{
    margin-left: 10px;
}

.header-image{
    width: 40%;
}

.face-image{
    width: 20%;
    width: 20%;
}



.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}
